# Whenever we install this requirements.txt then at that point of time the setup.py file should run to build the packages. So, to enable this we write -e, that will connect/triger to setup.py .

pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
dill
Flask
# -e . # It will automatically trigger setup.py file and MLproject.egg-info file will get created and this file tells that all the packages get installed.